apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grafana-data
  namespace: devcluster-monitoring
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
