apiVersion: v1
kind: ServiceAccount
metadata:
  name: grafana-prometheus-sa
  namespace: devcluster-monitoring
  annotations:
    argocd.argoproj.io/sync-wave: "0"
---
apiVersion: v1
kind: Secret
metadata:
  name: grafana-prometheus-sa-token
  namespace: devcluster-monitoring
  annotations:
    kubernetes.io/service-account.name: grafana-prometheus-sa
    argocd.argoproj.io/sync-wave: "0"
type: kubernetes.io/service-account-token
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: grafana-cluster-monitoring-view
  annotations:
    argocd.argoproj.io/sync-wave: "0"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-monitoring-view
subjects:
  - kind: ServiceAccount
    name: grafana-prometheus-sa
    namespace: devcluster-monitoring
